<!-- /* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 2
Author: Abhinaya Bimata Pandega , Santoso David , Tran Pham Quoc Vy , Rybak Polina , Grigory Kovtun 
ID: S3963166, S3824107, S4011912, S3969997, S3927476 
Acknowledgement: */ -->

<link rel="stylesheet" href="/css/homepage.css">

<section class="" id="brand-banner">
  <div class="">
    <div class="text">
      <img src="/css/cover.jpeg" class="pic">
      <h3 class="Product"> The Best Shoes To Shop In Town</h3>
      <h4> Check Out Our Product ! </h4>
      <a class="btn" a href="#product-lists" span style="text-overflow:ellipsis;">Our Products !</a>
      <div class="product">
        <img src="/css/product.jpg" class="pic1">
      </div>
    </div>
</section>