/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 2
Author: Abhinaya Bimata Pandega , Santoso David , Tran Pham Quoc Vy , Rybak Polina , Grigory Kovtun 
ID: S3963166, S3824107, S4011912, S3969997, S3927476 
Acknowledgement: */

img.img-fluid{
    margin-top: -5%;
    margin-bottom: -21%;
    margin-left: 42%;
}
.account{
    margin-top: 10%;
    margin-right: 12px;
}
